img{
  border: 3px solid grey;
  margin: 5px;
  cursor: pointer;
  border-radius:50%;
  webkit-border-radius: 50%;
  moz-border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.red{

  border: 3px solid red;
}
img:hover {
  border-color: yellow !important;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.img-fluid{
}
@media screen and (  max-width: 900px)  and (min-width: 500px){
  .col-sm-3{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
